{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
