{% extends 'base.html.twig' %}

{% block title %}Edit Publisher{% endblock %}

{% block body %}
    <h1>Edit Publisher</h1>

    {{ include('publisher/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
