{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
  <h1>Create a new Book</h1>  

  {{ include('book/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="{{ asset('js/book-form.js') }}"></script>
  <script>const isEditPage = false;</script>
{% endblock %}
